.container {
  position: fixed;
}

.item {
  position: relative;
  background-color: var(--bgSoft);
  padding: 25px;
  margin: 0;
  margin-right: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.bgContainer {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-right: 30px;
  width: 40%;
  height: 50%;
}

.bg {
  object-fit: cover;
  opacity: 0.2;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.notification {
  font-weight: bold;
}

.title {
  font-weight: 500;
  font-size: 20px;
  color: var(--textSoft);
}

.button {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: #5d57c9;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
}
